#navbar {
    ul {
        img {
            border-radius: 3px;
        }

        li {
            &:hover {
                background-color: dimgray;
                color: black;
            }

            a {
                .singleSpace {
                    padding-left: 1em;

                }
            }
        }
    }
}
