@font-face {
    font-family: "Saira-Black";
    src: url("fonts/Saira-Black.ttf")
}

@font-face {
    font-family: "Saira-Regular";
    src: url("fonts/Saira-Regular.ttf")
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Saira-Regular';
}

.saira-black {
    font-family: 'Saira-Black';
}

.logo-brand {
    height: 27px;
    margin: 13px;
}

.container-fluid {
    height: 100%;
    display: table;
    width: 100%;
    padding: 0;
}

.row-fluid {
    height: 90%;
    display: table-cell;
    vertical-align: middle;
}



.centering {
    float: none;
    margin: 0 auto;
}

.main-title {
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.arrows {
    visibility: hidden;
    position: relative;
    position: absolute;
    top: 90%;
    left: 50%;
    width: 6em;
    height: 6em;
    transform: translate(-50%, -50%);
}

.arrows:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 2em solid rgba(0, 0, 0, 0);
    border-bottom: 2em solid rgba(0, 0, 0, 0);
    border-radius: 0.8em;
    transform: translate(2em, 8em)rotate(-45deg);
    animation: arrows 2s linear infinite;
}

.arrows:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 2em solid rgba(0, 0, 0, 0);
    border-bottom: 2em solid rgba(0, 0, 0, 0);
    border-radius: 0.8em;
    transform: translate(4em, 0em)rotate(-45deg);
    animation: arrows 2s linear infinite 1.0s;
}


@keyframes arrows {
    0% {
        border-left: 1em solid rgba(0, 0, 0, 0);
        border-bottom: 1em solid rgba(0, 0, 0, 0);
        transform: translate(-1em, -4em)rotate(-45deg);
    }
    25%,
    75% {
        border-left: 1.1em solid rgba(127, 127, 127, 0.1);
        border-bottom: 1.1em solid rgba(127, 127, 127, 0.1);
    }
    50% {
        border-left: 1.3em solid rgba(255, 255, 255, 0.5);
        border-bottom: 1.3em solid rgba(255, 255, 255, 0.5);
        transform: translate(-1em, 0em)rotate(-45deg);
    }
    100% {
        border-left: 1em solid rgba(0, 0, 0, 0);
        border-bottom: 1em solid rgba(0, 0, 0, 0);
        transform: translate(-1em, 4em)rotate(-45deg);
    }
}

.parallax {

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax-bg-image-1 {
    background-image: url('images/background/top-milky-way.jpg');
}

.paralax-bg-image-2 {
    background-image: url("../images/background/middle-sky.jpg");
}

.paralax-bg-image-3 {
    background-image: url("../images/background/bottom-chicago-3.jpg");
}

.paralax-bg-image-4 {
    background-image: url("../images/background/bottom-chicago.jpg");
}

.scroller {
    background-color: transparent;
    padding-top: 2em;
    padding-bottom: 2em;
}

.scroller-1 {
    background-color: #333333;
    color: #DDDDDD;
}

.scroller-2 {
    background-color: #333333;
    color: #DDDDDD;
}

.scroller-3 {
    background-color: #333333;
    color: #DDDDDD;
    margin-bottom: 2em;
}

.scroller-padding {
    padding: 1em;
}

.about-header {
    text-align: center;
}

.skill {
    width: 100%;
    align-content: center;
    text-align: center;
    padding: 0.5em;
}

.skill-img {
    display: block;
    margin: 0 auto;
}

.skill-row {
    margin-top: 1em;
    margin-bottom: 2em;
}

.skill-row a:link {
    color: inherit;
    text-decoration: inherit;
}

.skill-row a:visited {
    color: inherit;
    text-decoration: inherit;
}

.contact-row a:link {
    color: inherit;
    text-decoration: inherit;
}

.contact-row a:visited {
    color: inherit;
    text-decoration: inherit;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2em;
    padding-left: 1em;
    background-color: #101010;
    color: dimgray;
}
